<h1>Character planner for: <%= @character.name %></h1>

<h2>Events:
<% @events.each do |event| %>
      <p><%= link_to "#{event.name}", planner_event_path(@planner, event) %></p>
      <% end %> </h2>
<%= link_to "Add event", new_planner_event_path(@planner) %>