<h1>Character planner for: <%= @character.name %></h1>

<h2>Events:
<div class ="js-events">
</div>

<%= link_to "Add event", new_planner_event_path(@planner) %>
<%= link_to "Back", character_path(@character) %>


<%# @events.each do |event| %>
      <%#= link_to "#{event.name}", planner_event_path(@planner, event) %></p>
      <%# end %> </h2>
<%= javascript_include_tag "application" %>
