<h1> RPG Character Planner </h1>
*Sign up or in, make some characters, give them planners and come up with events for your characters to go through. Add the events and watch your characters level up, select how they evolve!
<h2><%= link_to "Characters", characters_path %></h2>