<p id="notice"><%= notice %></p>


<div class= "js-character">
</div>
<button class= "js-next" data-id="<%= @character.id%>" > Next character</button>
<button class= "js-previous" data-id="<%= @character.id%>"> Previous character </button>
